.note {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 60vh;
  padding: 5px;
}

.note input {
  height: 50px;
  font-size: xx-large;
}

.note textarea {
  height: 400px;
}

.note p {
  margin: auto;
  color: rgb(173, 173, 173);
}
